doctype html
html
  head
    title Exclusive Offer
  body
    h1(style="color: #4CAF50;") Congratulations, #{name}!
    p You have made more than 5 orders with us. As a token of our appreciation, here is a coupon for 100% off on your next purchase!
    p Your coupon code is: #{couponCode}
    p(style="font-style: italic;") Happy shopping!
    p Sincerely,
    p The Company Team